:root {
  font: var(--qora-font-default-regular);

  color: var(--qora-color-text-primary);
  background-color: var(--qora-color-page-background);
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font: var(--qora-font-heading-display1);
}

#root {
  display: grid;
  place-items: center;
  gap: 8px;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

#root section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.spin {
  animation-duration: 2s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
